@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,550;1,300&display=swap');


.form-group{
    text-align: left;
}
.form-row{

    width: 500px;
    display: absolute;
    
    margin:auto;

}
.empleados{
    
    align-Items: center;
    text-Align: center;
    justify-Content: center;
    

    
    table{

        
        
        thead{
            
            background-color:blueviolet;
        }
    }
    font-family: 'Karla', sans-serif;
    
}