@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wdth,wght@92.4,400;92.4,631;92.4,774&display=swap');
td{
    
    padding-right: 0.5em;
    
    font-size: xx-large;
}

tbody{

    font-family: 'Lato', sans-serif;
    font-weight:900;
    
    
}
.table thead tr{
    
    font-size: 5px;
}

thead {

    background-color: blueviolet;
    color:white;
}




